<header class="navbar navbar-expand navbar-dark">
    <div class="container flex-column flex-md-row bd-navbar">
        <a class="navbar-brand" href="/" title="Home" class="title">Vipin G S</a></li>

        <ul class="social navbar-nav flex-row ml-md-auto d-md-flex">
            <li class="nav-item"><a class="nav-link social" href="https://github.com/mnbvcxz010308" title="Vipin G S's Github" rel="me"><i class="fab fa-github"></i></a></li>
<!--             <li class="nav-item"><a class="nav-link social" href="https://twitter.com/mnbvcxz010308" title="@mnbvcxz010308 Twitter" rel="me"><i class="fab fa-twitter"></i></a></li> -->
            <!-- <li class="nav-item"><a class="nav-link social" href="https://instagram.com/danielfrg2" title="danielfrg Instagram" rel="me"><i class="fab fa-instagram"></i></a></li> -->
            <li class="nav-item"><a class="nav-link social" href="https://www.linkedin.com/in/gsvipin" title="Vipin G SLinkedIn" rel="me"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
    </div>
</header>
